<div style="background-color:#3d70b2;">
  <table>
    <tr>
      <td><img src="container.jpg"/><td>
      <td><H1>IBM Bluemix Containers Services</H1></td>
    </tr>
  </table>
  <a href="/containers">Containers</a>
  <a href="/images">Images</a>
  <a href="/volumes">Volumes</a>
  <a href="/version">Version</a>
  <a href="/settings">Settings</a>
</div>
